@charset "utf-8";

/* neuehaas  */
@font-face {
  font-family: 'NeueHaasDisplay-Bold';
  src: url(./common/fonts/NeueHaasDisplay-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'NeueHaasDisplay-Light';
  src: url(./common/fonts/NeueHaasDisplay-Light.woff2) format('woff2');
}

/* 나눔스퀘어 */
@font-face {
  font-family: 'NanumSquareNeo-eHv';
  src: url(./common/fonts/NanumSquareNeo-eHv.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo-dEb';
  src: url(./common/fonts/NanumSquareNeo-dEb.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo-cBd';
  src: url(./common/fonts/NanumSquareNeo-cBd.woff2) format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo-bRg';
  src: url(./common/fonts/NanumSquareNeo-bRg.woff2) format('woff2');
}

/* 애플 */
@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url(./common/fonts/AppleSDGothicNeoB.woff2) format('woff2');
}

@font-face {
  font-family: 'AppleSDGothicNeoSB';
  src: url(./common/fonts/AppleSDGothicNeoSB.woff2) format('woff2');
}

