@charset "utf-8";

.swiper-container {
}
.swiper-wrapper {
  margin: auto;
}
.swiper-slide {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}

.swiper-button-prev,
.swiper-button-next {
  background: url("http://www.w3.org/2000/svg") no-repeat;
}
.swiper-button-prev {
  margin-left: 30px;
}
.swiper-button-next {
  margin-right: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
